body {
	width: 100%;
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    position: absolute;
}
* {
  box-sizing: border-box;
}
img {
	background: linear-gradient(to right, transparent, rgb(228, 131, 120));
  }
#mypic {
	margin: 20px 20px;
}
/* Label background colors */
#name, h4, #boxtitle, #connectme {
	font-family: Roboto;
	font-size: 1.5em;
	color: #fff;
	text-align: center;
}
h4 {
	width: 100%;
}
#topH3 {
	font-family: Roboto;
	font-size: 1.5em;
	text-align: center;
	position: relative;
	color: #fff;
}
#pLabels {
	background: linear-gradient(to right, rgb(74, 173, 253) , rgb(255,255,255));
	bottom: 2px;
	height: 30px;
	width: 256px;
	margin-bottom: 10%;
	text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: auto;
}
a:hover {
	color: red;
}
.clearfix {
    margin-top: 100px;
    margin-bottom: 100px;
}
header {
	background: rgb(167,207,223);
	background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 94%);
	background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 94%);
	background: linear-gradient(to bottom, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 94%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
	width: 100%;
	height: 90px;
	position: fixed;
	z-index: 100;
}
.headcontainer {
	left: 158px;
	width: 100%;
    margin: 0 auto;
    clear: both;
}
#name {
	font-weight: bold;
	float: left;
	font-size: 20px;
	margin-left: 150px;
	padding: 24px 32px 32px 32px;
	color: white;
	height: 88px;
}
nav, #formnavport {
	float: right;
	width: 240px;
	height: 20px;
	margin: 30px 480px 30px 0px;
}
#left, #middle, #right {
	/* background-color: #666666; */
	color: #fff;
}
#left {
	float: right;
	padding: 10px;
	line-height: 5px;
}
#middle {
	float: right;
	padding: 10px;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	line-height: 5px;
}
#right {
	float: right;
    padding: 10px;
    line-height: 5px;
}
.clearfix::after {
    content: "";
    clear: both;
 	display: block;
  	clear: both;
  	height: 50px;	
  	width: 100%;
}
#boxtitle {
	/* background: white;	 */
	margin-left: 4%;
	margin-right: 4%;
	border-bottom: 3px solid #EAEAEA;
	text-align: left;
	padding-top:right;
}
.para {
	float: left;
	margin: 3% 3% 2% 5%;
	text-align: left;
	line-height: 200%;
	color: #000;
}	
.connectbox, .formconnectbox {
	float: left;
	margin-top: 50px;
	background: radial-gradient(circle, rgba(202,202,212,1) 31%, rgba(126,128,130,1) 100%);
	width: 270px;
	height: 170px;
	margin-left: 40px;
	border: 1px solid #dddddd;
	padding-top: 20px;
}
#connectme {
	width: 200px;
	border-bottom: 3px solid #EAEAEA;
	margin: 0% 12%;
}
.icons {
	margin-left: 12%;
}
#github {
	float: left;
}
#github:hover { 	
	opacity: 0.5;
    filter: alpha(opacity=50);
}
#linkedin {
	float: left;
	margin: 0px 5px;
}
#linkedin:hover { 	
	opacity: 0.5;
    filter: alpha(opacity=50);
}
#stackoverflow, #linkedin, #github {
	margin-top: 25px;
}
#stackoverflow {
	width: 64px;
	height: 64px;
	float: left;
}
#stackoverflow:hover { 	
	opacity: 0.5;
    filter: alpha(opacity=50);
}
footer {
	background: rgb(167,207,223);
	background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 94%);
	background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 94%);
	background: linear-gradient(to bottom, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 94%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
	padding: 20px;
	bottom: 0;
	width: 100%;
	color: #ffffff;
	position: fixed;
}
.formbox {
	float: left;
	padding-top: 20px;
	background-color: #ffffff;
	width: 650px;
	margin-left: 10%;
	margin-bottom: 25px;
	margin-top: 30px;
	border-color: gray;
	border: 1px solid #EAEAEA;
}
.contactinfo {
	width: 300px;
	float: left;
	margin-top: 30px;
	background-color: #ffffff;

}
label {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin-left: 10%;
	margin-bottom: 6px;
	float: left;
}
input {
	text-align: left;
	width: 595px;
	margin: 0px 0px 12px 10%;
	border: 1px solid #dddddd;
}
textarea{
	width: 595px;
	height: 195px;
	border: 1px solid #dddddd;
	margin-left: 10%;
}
button {
	background-color: #4aaaa5;
	color: #ffffff;
	border-style: solid;
	border-color: #4aaaa5;
	margin-bottom: 8%;
	height: 40px;
	width: 112px;
	margin-left: 10%;
	float: left;
}
.portfoliobox, .formbox, .infobox {
	float: left;
	position: relative;
	padding: 20px 0px;
	background: radial-gradient(circle, rgba(202,202,212,1) 31%, rgba(126,128,130,1) 100%);
	max-width: 600px;
	margin-left: 150px;
	margin-top: 50px;
	border-color: gray;
	border: 1px solid #EAEAEA;
	min-height: 400px;
	overflow: hidden;
}
#pLabels, h4 {
	position: absolute;
}
.pic1, .pic3, .pic5 {
	float: left;
	position: relative;
	margin-left: 4%;
	margin-top: 25px;
}
.pic2, .pic4 {
	float: right;
	position: relative;
	margin-right: 4%;
	margin-top: 25px;
}




/*            DISPLAY @ 980px               */
@media screen and (max-width: 980px) {
	#navport {
		margin-right: 190px;
	}

	#name {
		margin-left: 80px;
	}

	.portfoliobox, .formconnectbox {
		width: 400px;
		height: auto;
		margin-left: 80px;
		margin-top: 30px;
	} 

	.infobox {
		width: 350px;
		margin-left: 80px;
		margin-top: 30px;
	}
	
	.pic1, .pic2, .pic3, .pic4, .pic5 {
		width: 200px;
		height: 200px;
	}

	.pic1, .pic3 {
		margin-left: 60px;
	}	

	.pic5 {
		margin-left: 60px;
		margin-bottom: 40px;
	}

	.pic2 {
		margin-right: 138px;
	}

	.formbox {
		width: 55	0px;
	}

	.connectbox {
		margin-top: 30px;
	}

	#mypic {
		width: 250px;
		height: 250px;
		margin: 15px 20px 15px 50px;
	}

	.para {
		text-align: left;
		line-height: 35px;
		margin: 15px 15px 15px 30px;
	}

}
/*/////////////////////DISPLAY @ 768px///////////////////////*/
 @media screen and (max-width: 768px)  {
	#navport {
		margin-right: 30px;
	}

	nav {
		margin-right: 20px;
	}

	.portfoliobox, .formbox, .formconnectbox {
		margin-left: 20px;
		width: 710px;
	}

	.formconnectbox {
		margin-top: 10px;
	}

	#name {
		margin-left: 20px;
	}

	.infobox {
		padding-top: 15px;
		width: 720px;
		margin-left: 20px;
	}

	#boxtitle {
		margin-top: 10px;
		padding-bottom: 20px;
	}	

	#mypic {
		width: 250px;
		height: 250px;
		margin: 20px 20px 0px 20px;
	}

	.para {
		width: 660px;
		margin: 20px 50px 30px 20px;
	}

	.connectbox {
		width: 720px;
		margin-left: 20px;
		margin-top: 30px;
	}

	#connectme {
		width: 670px;
		margin: 10px 5px 15px 25px;
		padding-bottom: 5px;
	}

	.icons {
		margin-left: 25px;
	}
} 

/*/////////////////////DISPLAY @ 640px///////////////////////*/
@media screen and (max-width: 640px)  {
	#navport{
		margin: auto;
	}
	#formnavport {
		width: 100%;
		margin: 0px;
		height: 45px;
		padding-top: 
	}
	.portfoliobox, .formbox {
		margin: 60px 0px 0px 30px;
		width: 660px;	
	}
	#name {
		width: 653px;
		margin-left: -30px;
		padding-left: 250px;
	}
	pLabels {
		width: 256px;
	}
	.pic1,.pic3, .pic5  {
		left: -40px;
	}
	.pic2, .pic4{
		right: -45px;
	}
	.pic1, .pic2 {
		margin-bottom: 50px;
	}
	.pic3, .pic4 {
		margin-top: 0px;
	}
	.pic5 {
		margin-left: 60px;
		margin-bottom: 40px;
	}
	#left {
		float: left;
		margin-left: 70px;
		font-size: 15px;
	}
	#right {
		float: right;
		padding-left: 10px;
		margin-right: 70px;
		font-size: 15px;
	}
	#middle {
		float: right;
		padding: 10px 50px;
		margin: 0px 100px 0px 80px;
		font-size: 15px;
	}	
	nav {
		width: 640px;
		height: 45px;
		margin: 2px;
		padding-top: 10px;
		border-bottom: 2px solid #ccc;
	}
	.infobox {
		width: 580px;
		margin: 30px 0px 20px 20px;
		padding-top: 15px;
		margin-top: 100px;
	}
	#boxtitle {
		padding-bottom: 20px;
	}	
	#mypic {
		width: 430px;
		height: 450px;
		margin: 15px 25px 10px 75px;

	}
	.para {
		width: 520px;
		float: left;
		line-height: 35px;
		margin: 10px 10px 20px 25px;
	}

	.connectbox, .formconnectbox {
		float: right;
		width: 660px;
		height: 180px;
		margin: 20px 80px 0px 30px;
		background-color: #ffffff;
	}
	#connectme {
		float: left;
		width: 530px;
		height: 50px;
		margin: 15px 0px 25px 25px;
		padding-bottom: 5px;
	}
	.icons {
		float: left;
		margin-left: 25px;
	}
}